.top-react-icons{
  font-size: 1.2rem;
  color:#1E2742;
}
.navbar{
  background-color: #fbf8f2;
  border-bottom: 1px solid   black;
}
.navbar-brand{
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
}
.head{
  font-family: 'DM Serif Display', serif;
  color: #1E2742;
}
