.top-react-icons{
  font-size: 1.2rem;
  color:#1E2742;
}
.navbar{
  background-color: #fbf8f2;
  border-bottom: 1px solid   black;
}
.navbar-brand{
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
}
.head{
  font-family: 'DM Serif Display', serif;
  color: #1E2742;
}



section{
  max-width: 100%;
  padding: 7rem;
  border-bottom: 1px solid black;
  height: 70vh;
  background-color: #fbf8f2;
}
.hero-heading{
  font-family: 'DM Serif Display', serif;
  font-weight: 700;
  font-size: 5rem;
  color: #1E2742;
}
.hero{
  background-color: #1E2742;
  font-family: 'DM Serif Display', serif;
  font-weight: 100;
  color: #fbf8f2;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}